@page "/"
@using System.Timers
@implements IDisposable

<h1>Pumpkin Spice Countdown</h1>

@if (countdownStarted)
{
    @if (timeLeft == noTime)
    { 
        <h4 style="color:darkgoldenrod">It's PUMPKIN SPICE TIME!!!</h4>
    }
    <h4>
        <strong>@timeLeft.Days</strong> days 
        <strong>@timeLeft.Hours</strong> hours 
        <strong>@timeLeft.Minutes</strong> minutes 
        <strong>@timeLeft.Seconds</strong> seconds
    </h4>
}

@code {
    Timer timer;

    DateTime PumpkinSpiceLaunchDate { get; set; } = new DateTime(2020, 8, 19, 8, 0, 0);

    TimeSpan timeLeft { get; set; }
    TimeSpan noTime { get; } = new TimeSpan(0, 0, 0);

    bool countdownStarted;

    protected override void OnInitialized()
    {
        timer = new Timer(1000d);
        timer.Elapsed += CalculateTimeLeft;
        timer.Start();
    }

    protected void CalculateTimeLeft(object sender, ElapsedEventArgs e)
    {
        timeLeft = PumpkinSpiceLaunchDate - DateTime.Now;
        countdownStarted = true;
        StateHasChanged();
    }

    public void Dispose()
    {
        if (timer != null)
            timer.Dispose();
    }
} 